/* Styles principaux */


html /*10px = 1rem */
{
    margin:0;
    max-width:100vw;
}

body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    margin: 0;
}

#bloc__style
{
    width: 100vw;
    margin: 0;
}

h1
{
    font-size: 2.3rem;
}

h2
{
    font-size: 1.9rem;
}

h3
{
    font-size: 1.5rem;
}

p
{
    font-size: 1.5rem;
}

/* Header*/

header
{
    width: 100vw;
    margin: auto;
    overflow-x: hidden;
}

.menu__register
{
    display: none;
}

.menu__register_mobile
{
    margin: 0;
    display: unset;
    font-size: 2rem ;
    font-family: 'Raleway-Bold';
    text-decoration: none;
    color:#0065FC;
}


#header__top
{
    display:flex;
    flex-direction: column;
}

#header__logo_register
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
}



.header__logo 
{
    width: 10rem;
    height: 10rem;
}

nav
{
    width: 100%;
    margin-top: 1rem;
    margin-left: unset;
}

nav a:hover
{
    padding: unset;
}

nav ul
{
    display: flex;
    justify-content: center;
    padding: unset;
}

nav li
{
    font-size: 2rem;
    padding: unset;
}


nav a
{
    padding: unset;
}

nav a:hover
{
    border-top:hidden;
}

#header__title p
{
    font-size: 1.7rem;
}


.menu__item
{
    border-bottom: solid 3px #d8d8d8;
    padding-bottom: 1rem;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__item:hover
{
    padding-bottom: 1rem;
    border-bottom: solid 3px #0065fc;
    color: #0065fc;
    align-items: center;
}

/*_____________Header bottom_____________*/

/* Search_bar */

#header__bottom
{
    display: flex;
    flex-direction: column;
    margin-top: 0rem;
    margin-left: 1.5rem;
}

form
{
    width: 100vw;
}

.search_bar
{
    font-size:1.5rem;
    height: 4.1rem;
    padding: 0.5rem 0.5rem 0rem 0.5rem;
}

#search_bar__box
{
    border-radius: 0;
}

#search_bar__button
{
    display: none;
}

#search_bar__button_mobile
{
    display: unset;
    color:white;
    background-color:#0065FC;
    border-radius: 1rem;
    padding: 1rem 1rem 1rem 1rem;
}
/* Filters */

#header__filters
{
flex-direction: column;
align-items: flex-start;
flex-wrap: nowrap;
}

#filters__container
{
    margin: 0;
}

.filters__button
{
    font-size: 1.4rem;
    margin-top: 1rem;
    margin-left: unset;
}

/* Info header*/

#info
{
    margin: 2rem 1rem 2rem 0;
    align-items: baseline;
}

#info p
{
    font-size: 1.5rem;
}

/* Corps de la page */

main
{
    margin: auto;
}

/* Section Article "Hébergements" et Aside "Les plus populaires" */
#main__heading
{
    flex-direction: column-reverse;
    justify-content: unset;
    margin: auto;
    width: 100%;
}

.article__title
{
    margin-bottom: 2.5rem;
    margin: 1.5rem 0rem 1.5rem 2.5rem;
}

/*Article "Hébergements" */

#hebergements
{
    padding: 1rem 0rem 0rem 0rem ;
    margin: 0rem;
    background-color: unset;
    width: unset;
}

.hebergements__vignette_row
{
    flex-direction: column;
    margin-bottom: 0;
    justify-content: unset;
}

.hebergements__vignette_style
{
    margin: 0rem 2rem 1rem 2rem;
    max-width: unset;
    width: auto;
}

.hebergements__vignette_style img
{
    width: 100%;
    height: 12rem;
}

.hebergements__description_style
{
    font-size: 1.2rem
}

.description__title
{
    font-size: 1.7rem;
}

.more_button
{
    margin-top: 1.5rem;
    background-color: white;
}

.more_button:focus
{
    background-color: white;
}

/*Aside "Les plus populaires" */

#populaires
{
    padding: 1.5rem 0rem 1rem 0rem;
    width: 100vw;
    border-radius: unset;
    justify-content: center;
}

.populaires__logo
{
    padding-right: 1rem;
}

.populaires__vignette_style
{
    margin: 0rem 0rem 1rem 2rem;
    flex-shrink: 1;
    max-width: 32.5rem;
    width: auto;
}

.populaires__vignette_style img
{
    height: 12rem;
    width: 11rem;
}

.populaires__description
{
    flex-shrink: 1;
}

.populaires__description_style
{
    flex-shrink: 1;
}

/* Article  "Activités" */

#activites
{
    margin: 0rem 0rem 2rem 0rem;
}

.activites__title
{
    margin: 0 0 2.5rem 2rem;
}

#activites__vignette
{
    flex-direction: column;
}

.vignette__picture_shape img
{
    object-fit: cover;
    height: 11rem;
} 


.vignette__size_l
{
    margin: unset;
    max-width: unset;
}

.activites__vignette_style
{
    text-decoration: none;
    color:black;
    box-shadow: 0rem 0rem 2rem #3333332e;
    border-radius: 2rem;
    margin: 0rem 2rem 2rem 2rem;
    justify-content: center;
    width: 90%;
}


/* Footer */

footer
{
    padding: 0rem 0rem 2rem 2rem;
    flex-direction: column;
    justify-content: start;
    max-width: 100vw;
}

.footer__style
{
    margin: unset;
    padding-left: 1.5rem;
    max-width: 80vw;
}

.footer__style a
{
    text-decoration: none;
    color:black;
    font-size: 1.4rem;
}

.footer__style ul
{
    list-style: none;
    padding-left: 0;
}

.footer__style li
{
    margin-top: 1.5rem;
}

.footer__style h3
{
    margin: 0rem 0rem 2rem 0rem;
    padding-top: 4rem;
    padding-left: 0;
}